# Radix URL
# export RADIX_NODE_URL="https://mainnet.radixdlt.com"
export RADIX_NODE_URL="https://stokenet.radixdlt.com"

# User specific changes
# Overwrite defaults in this file with your own values in .envrc.custom
[ -f .envrc.custom ] && source .envrc.custom