# Radix URL
export RADIX_ARCHIVE_NODE_URL="https://mainnet.radixdlt.com/archive"

# User specific changes
# Overwrite defaults in this file with your own values in .envrc.custom
[ -f .envrc.custom ] && source .envrc.custom